@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
  }
  body {font-family: 'Lato', sans-serif;background: #000;overflow: auto;font-size: 14px;overflow-x: hidden;padding-top: 0;}
  a, a:hover, a:focus {  text-decoration: none;  transition: all 400ms ease; }
  img{max-width: 100%}
  /* h1, h2, h3, h4, h5, h6 {  } */
  input, button { outline: none; box-shadow: none;  }
  


  section{
    padding: 100px 0;
    background: #080808;
  }
  .underLine {
      text-decoration: underline;
      color: #000000;
  }
  .listInline {
      display: flex;
      margin: 0;
      padding: 0;
      list-style-type: none;
      gap: 10px;
  }
  .gap20{
      gap: 20px;
  }
  .underLine:hover {
      text-decoration: none;
      color: #000;
  }
  .owl-carousel .owl-item img{
      width: auto;
  }
  .topGap{
      padding-top: 140px;
  }
  .fullWidth{width: 100%;}
  .mobile{display: none !important;}
  .mainHeader {
      background: transparent;
      /* box-shadow: 0 0 10px; */
      position: fixed;
      z-index: 99;
      width: 100%;
      top: 0;
      left: 0;
      transition: all 400ms ease;
  }
  .mainHeader.fixedHeader {
      top: 0;
      transition: all 400ms ease;
      box-shadow: 0 0 10px #0000002e;
  }
  
  a.navbar-brand {
      font-size: 32px;
  }
  nav#mainNav {
      background: transparent !important;
      padding: 10px 15px;
  }
  .fixedHeader nav#mainNav {
      background: #000 !important;
  }
  .navbar-brand img {
      max-width: 200px;
  }
  nav#mainNav .nav-item > a img {
      max-height: 16px;
      margin-right: 5px;
  }
  li.menu-item a {
      color: #fff;
      display: block;
      padding: 5px 10px;
      margin-bottom: 2px;
      border-radius: 3px;
  }
  
  li.menu-item a:hover {
      background: #ed4834;
  }
  
  nav#mainNav .nav-item > a {
      font-size: 15px;
      color: #C3C3C3;
      padding: 25px 6px;
      position: relative;
      font-family: 'Lato';
      text-transform: uppercase;
      
  }

  nav#mainNav .nav-item > a:hover {
      color: #C675AA;
  }
  .navBtn {
    /* border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #C675AA 0%, #6B5295 50%, #232554 80%, #1A1E3C 100%) 1; */
    padding: 15px 20px !important;
    background: url(../images/btn-bg.png) 0 0 no-repeat;
    /* font-family: 'GilroyMedium' !important;
    color: #fff !important;
    /* box-shadow: 3px 3px 0px #3e3e3e; */
    transition: all 500ms ease;
    background-size: cover;
}

.navBtn:hover {
    color: #C675AA !important;
    box-shadow: 0px 0px 0px #3e3e3e;
    transition: all 500ms ease;
    transform: translate(3px, 3px);
}
  nav#mainNav .nav-item {
      padding: 0 15px;
      display: flex;
      align-items: center;
  }
  
  .dropdown {
      display: flex;
      align-items: center;
      position: relative;
  }
  
  .dropdownMenu {
      position: absolute;
      top: 40%;
      left: 0;
      opacity: 0;
      margin: 0;
      list-style-type: none;
      min-width: 200px;
      box-shadow: 0px 0px 40px 0px rgba(0,0,0,.09);
      overflow: hidden;
      border-radius: 0 10px 10px 10px;
      padding: 10px 0;
      z-index: 999999;
      background: #000;
      transform: scaleX(0);
      transition: top .3s ease 0s,opacity .3s;
  }
  nav#mainNav .nav-item.dropdown:hover {
      background: #000;
      color: #fff;
      border-radius: 10px 10px 0 0;
  }
  nav#mainNav .nav-item.noHover:hover {
      background: transparent;
  }
  nav#mainNav .nav-item.dropdown:hover > a{
      color:#fff;
  }
  nav#mainNav .nav-item i {
      color: #fff;
  }
  nav#mainNav .nav-item .nav-link.darkBtn i{
      font-size: 15px;
  } 
  nav#mainNav .nav-item:hover i{
      opacity: 1;
  }
  .dropdown:hover .dropdownMenu{
      top: 100%;
      opacity: 1;
      transform: scaleX(1);
      transition: top .3s ease 0s,opacity .3s;
  }
  .dropdownMenu li a {
      background: #000;
      display: block;
      color: #ffffff;
      padding: 5px 20px;
  }
  .stickyMenu {
      position: fixed;
      left: 50%;
      bottom: 10px;
      transform: translate(-50%);
      z-index: 999;
  }
  
  .stickyMenu ul {
      margin: 0;
      padding: 10px;
      list-style-type: none;
      display: flex;
      background: #fff;
      border-radius: 50px;
      gap: 5px;
  }
  
  .stickyMenu ul a {
      color: #282f3b;
      font-weight: 600;
      font-size: 15px;
      padding: 7px 12px;
      border-radius: 50px;
  }
  
  .stickyMenu ul a:hover, .stickyMenu ul li.active a {
      background: #078586;
      color: #fff;
  }
  .stickyMenu .close-modal {
      position: static;
      margin: 0;
  }
  .social {
      gap: 14px;
  }
  .mainSlider {
      position: relative;
  }
  .mainSlider img {
      object-fit: cover;
      max-width: 330px;
  }
  
  .mainSlider{
      background: #000;
      background-size: cover !important;
      padding:50px 0;
      min-height: calc(100vh - 90px);
      display: flex;
      align-items: center;
  }
  
  .sliderContent {
      padding: 0;
      padding-left: 0;
  }
  
  .sliderContent h1 {
      line-height: 70px;
      color: #fff;
      font-size: 60px;
      font-family: 'Bricolage Grotesque';
      font-weight: 300;
  }
  .sliderContent h1 span{
    background: #F1DEEC;
    background: linear-gradient(to right, #F1DEEC 0%, #CB7DB0 50%, #8E60A1 70%, #705599 100%);
    -webkit-background-clip: text;
    /* font-family: 'TestFoundersGroteskTextMedium'; */
    -webkit-text-fill-color: transparent;
    font-weight: 500;
  }
  .sliderContent h3 {
      font-weight: 300;
      font-size: 20px;
      line-height: 40px;
      color: #C3C3C3;
      /* font-family: 'Lato'; */
  }
  
  .sectionHeding h3 {
      font-weight: 400;
      font-size: 18px;
      position: relative;
      z-index: 1;
      color: #C3C3C3;
  }
  .sectionHeding h2 {
      font-style: normal;
      font-size: 40px;
      color: #ffffff;
      font-family: 'Bricolage Grotesque';
  }
  .whiteBtn, .blackBtn {
    padding: 15px 25px;
    background: #FFFFFF;
    color: #000 !important;
    border-radius: 8px;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-flex;
    /* box-shadow: 3px 3px 0px #2e2e2e; */
    transition: all 500ms ease;
}
.whiteBtn{
    /* box-shadow: 3px 3px 0px #888888;  */
}
.blackBtn{
    background: #000;
    color: #fff !important;
}
.blackBtn:hover,  .whiteBtn:hover, .lineBtn:hover{
    box-shadow: 0px 0px 0px #888888;
    transition: all 500ms ease;
    transform: translate(3px, 3px);
}
  .sectionHeding {
      position: relative;
      margin-bottom: 60px;
  }
  .sliderContent a {
      color: #fff;
      display: inline-flex;
      align-items: center;
      gap: 15px;
  }
  
  .sliderContent a i {
      font-size: 40px;
  }
  .lineBtn {
      font-size: 16px;
      padding: 15px 25px;
      color: #fff;
      border: solid 1px #fff;
      border-radius: 8px;
      background: transparent;
      display: inline-flex;
      gap: 10px;
      align-items: center;
      text-transform: uppercase;
      /* box-shadow: 3px 3px 0px #888888; */
  }
  
  .lineBtn:hover {
      background: #fff;
      color: #000;
  }
  .offerings {
      padding: 100px 0;
      background: #f4f4f4;
  }
  .brandList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.bxWrp {
    padding-bottom: 80px;
    display: flex;
    gap: 80px;
    justify-content: center;
}
.bx {
    padding: 50px;
    position: relative;
    background: #131313;
    width: 35%;
    border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #C675AA 0%, #6B5295 50%, #232554 80%, #1A1E3C 100%) 1;
  transition: all 500ms ease;
}
.bx:hover {
    background: rgb(210,145,188);
    background: linear-gradient(180deg, #E5C0D9 0%, #C775AB 30%, #0A0A0A 55%, rgb(0 0 0) 100%);
    transition: all 500ms ease;
    border: solid 1px transparent;
    border-bottom: solid 1px #000;
}
.bx h3 {
    font-size: 100px;
    color: #fff;
    margin: 0;
}
.bx p {
    color: #F0F0F0;
    font-size: 20px;
    margin: 50px 0 0;
    font-family: 'Lato';
}

.bx img {
    position: absolute;
    top: 20px;
    right: 20px;
    filter: grayscale(1);
    max-height: 100px;
    transition: all 500ms ease;
}
.bx:hover img{
    filter: grayscale(0);
    transition: all 500ms ease;
}

.bx.boxBtm {
    top: 90px;
}
.quoteBx {
    display: flex;
    align-items: center;
    gap: 100px;
    position: relative;
    /* background: rgb(28,31,69);
    background: linear-gradient(90deg, rgba(28,31,69,1) 0%, rgba(84,66,119,1) 39%, rgba(142,88,132,1) 68%, rgba(175,163,178,1) 100%); */
    border-radius: 10px;
    padding: 23px;
    padding-left: 250px;
    padding-right: 40px;
    overflow: hidden;
    justify-content: space-between;
    background: url(../images/quote-bg.png) 0 0 no-repeat;
    background-size: cover;
}

.quoteBx .qt {
    width: 130px;
    position: absolute;
    left: 15px;
    top: 10px;
}

.quoteBullet ul {
    margin: 0;
}

.quoteBullet ul li {
    font-size: 18px;
    color: #fff;
    font-family: 'Lato';
    text-transform: uppercase;
    line-height: 1.8;
}
.bxHover {
    padding: 30px;
    background: #131313;
    border: solid 1px #292929;
    text-align: center;
}

.bxHover h3 {
    font-size: 24px;
    color: #fff;
    margin: 0 0 20px;
    min-height: 60px;
}

.bxHover img {
    margin: 0 0 15px;
}

.bxHover p {
    color: #fff;
    font-size: 16px;
    margin: 0 0 30px;
    opacity: 0;
}

.bxHover a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 16px;
}

.bxHover:hover {
    background: #1B204D;
}

.bxHover:hover p {
    opacity: 1;
}

.bxHover a span {
    display: none;
}

.bxHover:hover a span {
    display: inline-block;
}
.priceComp table {
    width: 100%;
}

.priceComp table tr td:not(:first-child), .priceComp table tr th:not(:first-child) {
    text-align: center;
    background: #1B1B1B;
}
.priceComp table tr th:not(:first-child){
    font-size: 20px;
}
.priceComp table tr td:nth-child(1){
    display: flex;
    align-items: center;
    gap: 15px;
}
.priceComp table tr td:nth-child(3), .priceComp table tr th:nth-child(3){
    background: #CB7FB1;
}
.priceComp table tr td {
    color: #F5F5F5 !important;
    padding: 20px 15px;
}
.priceComp table tr td p{
    margin: 0;
    font-size: 20px;
    color: #F5F5F5;
}
.priceComp table tr th{
    text-align: center;
    color: #fff;
}
.tag {
    padding: 20px 20px;
    background: #CB7FB1;
    position: relative;
    font-size: 30px;
}

.tag span {
    font-size: 12px;
    position: absolute;
    top: -15px;
    background: #16182B;
    padding: 3px 10px;
    border-radius: 6px;
}
.priceComp table tr td i {
    font-size: 20px;
}

.priceComp table tr td i.fas.fa-times {
    color: #F87171;
}


/* .priceComp table tr:hover:not(:last-child) td{
    background: #383264 !important;
} */
.priceComp table tr td:nth-child(3) i{
    color: #383264;
}
/* .priceComp table tr:hover td:nth-child(3) i{
    color: #fff;
} */
.priceComp table tr:last-child td{
    background: none;
}
.priceComp table tr:last-child td:nth-child(3){
    background: #CB7FB1;
}
div#accordion .card-header {
    padding: 0;
    background: transparent;
}

div#accordion .card-header button {
    width: 100%;
    text-align: left;
    background: transparent;
    padding: 0;
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none !important;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div#accordion .card-header button i{
    transform: rotate(-180deg);
    transition: all 500ms ease;
    color:#C2C2C2
}
div#accordion .card-header button.collapsed i{
    transform: rotate(-0deg);
    transition: all 500ms ease;
}
div#accordion .card {
    background: transparent;
    color: #fff;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: solid 1px #373737;
}
section.Collaborate img {
    max-width: 70%;
}
#accordion .card-body {
    padding: 0;
    color: #C3C3C3;
    margin-top: 10px;
}
div#accordion h5 {
    color: #6F84FF;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 12px;
}
section.testimonial.aos-init {
    opacity: 1 !important;
    transform: translateZ(0) !important;
}
.testimonialWrp{
    margin-top: 110px;
}
.testimonialWrp, .testimonialWrpBottom {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}
.testimonialWrpBottom{
    position: relative;
    top: -40px;
}
.testimonialBx {
    padding: 30px;
    background: #16182B;
    color: #fff;
    width: 25%;
    border-radius: 15px;
}
.testimonialWrp .testimonialBx:first-child{
    transform: rotate(-10deg) translate(70px);
    transition: all 500ms ease;
}
.testimonialBx .d-flex {
    gap: 10px;
    margin-bottom: 15px;
}

.testimonialBx p {
    font-size: 18px;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
    /* font-family: 'Lato'; */
}

.testimonialBx p:after {
    content: "";
    width: 50px;
    height: 1px;
    background: #F3E2EE;
    position: absolute;
    left: 0;
    bottom: 0;
}

.testimonialBx h3 {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0 0 15px;
}

.testimonialBx h3 img {
    width: 25px;
}

.testimonialBx h5 {
    font-size: 16px;
    margin: 0;
}
.testimonialWrp .testimonialBx:nth-child(2) {
    transform: rotate(-3deg) translateY(-96px);
    background: #C775AB;
    transition: all 500ms ease;
}

.testimonialWrp .testimonialBx:nth-child(3) {
    transform: rotate(13deg) translate(-105px, -17px);
    background: #F3E2EE;
    color: #73579C;
    transition: all 500ms ease;
}

.testimonialWrpBottom .testimonialBx:nth-child(1) {
    transform: rotate(-5deg) translateY(-146px);
    background: #73579C;
    transition: all 500ms ease;
}

.testimonialWrpBottom {
    justify-content: center;
    gap: 50px;
}

.testimonialWrpBottom .testimonialBx:nth-child(2) {
    transform: rotate(13deg) translate(-35px, -97px);
    background: #1B204D;
    transition: all 500ms ease;
}
section.testimonial.aos-init.aos-animate .testimonialWrp .testimonialBx:nth-child(1),
section.testimonial.aos-init.aos-animate .testimonialWrp .testimonialBx:nth-child(2),
section.testimonial.aos-init.aos-animate .testimonialWrp .testimonialBx:nth-child(3),
section.testimonial.aos-init.aos-animate .testimonialWrpBottom .testimonialBx:nth-child(1),
section.testimonial.aos-init.aos-animate .testimonialWrpBottom .testimonialBx:nth-child(2){
    transform: rotate(0deg) translate(0px, 0px);
    transition: all 500ms ease;
}
.globalMap{
    background: #141414;
}
.globalMap h2 {
    background: #F1DEEC;
    background: linear-gradient(to right, #F1DEEC 0%, #CB7DB0 50%, #8E60A1 50%, #705599 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 44px;
    font-family: 'Bricolage Grotesque';
}

.globalMap p {
    color: #fff;
    font-size: 20px;
}


  .mainFooter {
      padding: 90px 0 10px;
      background: rgb(36,37,85);
    background: linear-gradient(312deg, rgba(36,37,85,1) 0%, rgba(60,53,107,1) 51%, rgba(159,102,163,1) 82%, rgba(217,161,198,1) 100%);
    }
  
  .mainFooter h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      color: #000;
      margin: 0 0 15px;
  }
  .unorderList {
      margin: 0;
      padding: 0;
      list-style-type: none;
  }
  
  .footerSocial li a.icon {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 20px;
  }
  .footerContent p {
      color: #000;
  }
  
  .footerSocial li a i {
      color: #fff;
  }
  .footerlogo img{
    max-width: 160px;
  }
  .footerlogo h3 {
    color: #fff;
    font-size: 30px;
}

.footerlogo p {
    color: #fff;
}

.footerContentWrp {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    margin-bottom: 20px;
}

.footerContent h3 {
    color: #fff;
    font-size: 16px;
    /* min-height: 40px; */
}

.footerContent ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footerContent ul a {
    color: #C6C6C6;
    font-family: 'Lato';
    line-height: 2;
}

.footerLinks {
    justify-content: end;
    margin: 50px 0 20px;
    gap: 30px;
}

.footerLinkContact {
    justify-content: end;
    gap: 30px;
}

.footerLinkContact li a, .footerLinks li a {
    color: #fff;
}
.footerLinks li a{
    font-size: 18px;
}

.footerSocial li a:hover {
    transform: rotate(360deg);
    background: #ccc;
    color: #000 !important;
}
ul.listInline.footerSocial {
    justify-content: end;
    padding-top: 20px;
    border-top: solid 1px #ffffff36;
    margin-top: 50px;
    align-items: center;
}

ul.listInline.footerSocial li a {
    color: #fff;
}
  
  
  
  